
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* button */
:root {
  --bg: #e74c3c;
  --text-color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  
}

.btn {
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
  margin-top: 30px;
 left: 37%;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
}

#d1 {
  position: relative;
  margin-top: 20px;
  left: 43%;
}

/* boxes */
form {
    
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px;
  width: 650px;
 
}


.box {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 10px;

  background-color: aquamarine;
}


.game-center{
  display: flex;
  align-items: center; 
  justify-content: center;
}